<p class="popup__text">Create your new password.</p>
<form name="form_change-password" class="form form_change-password" id="form_change-password">
    <div class="form__field form__field_password">
        <div class="form__input form__input_password">
            <label for="password" class="form__label">Password</label>
            <input type="password" class="form__input-value" id="password" name="password" autocomplete="off">
            <i class="form__input-icon form__input-icon_eye fa-solid fa-eye-slash"></i>
        </div>
        <div class="form__error form__error_password">
            <i class="form__error-icon form__error-icon_password fa-solid fa-circle-exclamation"></i>
            <p class="form__error-text form__error-text_password"></p>
        </div>
    </div>
    <div class="form__buttons">
        <button type="submit" class="form__button form__button_confirm confirm-popup" id="confirm-button">Change</button>
        <button type="button" class="form__button form__button_cancel close-popup" id="cancel-button">Cancel</button>
    </div>
</form>